footer.footer
    .footer_logo
        img(src='/img/logo-green.png' alt='Natours Logo' style="width:80%; height:80%;")
    ul.footer__nav
        li: a(href='#') About Us
        li: a(href='#') Contacts
        li: a(href='#') Careers
    p.footer_copyright &copy; by Kaustubh Shukla. All rights reserved.
