header.header
    nav.nav.nav--tours
        a.nav__el(href='#') All Tours 
    .header_logo
        img(src='/img/logo-white.png' alt='Natours Logo' style="width:50%; height:50%;")
    nav.nav.nave--user 
        //- a.nav__el(href='#') My Bookings 
        //- a.nav__el(href='#')
        //-     img.nav__user-img(src='img/user.jpg' alt='User Photo')
        //-     span Kaustubh
        button.nav__el Login 
        button.nav__el Signup